<div class="full-height under-navbar checklist-wrapper flex-column padding-box" style="background-image: linear-gradient(60deg, rgba(255,255,255,0.3), rgba(255,255,255,0.2)), url(<%= image_path 'stagein_company.jpg' %>)">
  <div class="row full-width checklist-container">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 col-lg-offset-1">
      <%= render "shared/hiring" %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
      <%#= cl_image_tag @hiring.company.skill.photo.path, width: '100%',id: "skill-photo" %>
      <div id="step-container" class="<%= "d-none" if  @step_checked  %>">
        <p>Valide chaque étapes et obtiens ton stage !</p>
        <div class="border-left-pink-5px paddingy-10px">
          <div id="checks-list" class="bg-white padding-20px">
            <% @hiring_checkpoints.each_with_index do |hiring_checkpoint, index| %>
              <p><strong>Etape <%= index + 1 %></strong></p>

              <%= render "link_checking", hc: hiring_checkpoint %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Revenir au stages disponibles', hirings_path, class: 'btn-grey' %>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('#btn-postuler').on('click', function(e) {

    <!-- $('#skill-photo').hide(); -->
    $('#step-container').show();
    $('#btn-postuler').hide();

  });
  <% end %>
<% end %>


