<div class="full-height under-navbar checklist-wrapper flex-column padding-box" style="background-image: linear-gradient(60deg, rgba(255,255,255,0.3), rgba(255,255,255,0.2)), url(<%= image_path 'stagein_company.jpg' %>)">
  <div class="flexbox flex-wrap full-width checklist-container">
    <div class="width-40-min-230px marginx-10px">
      <%= render "shared/hiring" %>
    </div>
    <div class="width-40-min-230px marginx-10px flexbox">
      <% if @step_checked %>
        <div class="text-center margin-top-40px">
          <button class="btn-blue-rectangle" id= "btn-postuler">Je postule</button>
        </div>
      <% end %>
      <div id="step-container" class="<%= "d-none" if  @step_checked  %>">
        <p class="padding-left-20px margin-bottom-0px">Valide chaque étape et obtiens ton stage !</p>
        <div class="border-left-pink-5px paddingy-10px">
          <div id="checks-list" class="bg-white padding-20px">
            <% @hiring_checkpoints.each_with_index do |hiring_checkpoint, index| %>
              <p><strong>Etape <%= index + 1 %></strong></p>

              <%= render "link_checking", hc: hiring_checkpoint %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= link_to 'Revenir aux stages disponibles', hirings_path, class: 'btn-grey margin-top-20px' %>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $('#btn-postuler').on('click', function(e) {
    $('#step-container').show();
    $('#btn-postuler').hide();

  });
  <% end %>
<% end %>
